*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BASE PARA O FLEXBOX*/
body{
    width: 100;
    max-width: 1440px;
    height: 1024;
}
/*BASE PARA O FLEXBOX*/

.div-pai{
    display: flex ;
    border: 2px solid crimson;
}

.div-filha{
    text-align: center;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 1.5%;
}

.box-1{
    background-color: blue;
}

.box-2{
    background-color: chocolate;
}

.box-3{
    background-color: rebeccapurple;
}

.box-4{
    background-color: yellowgreen;
}