* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    max-width: 1440px;
    height: 1024px;
}

.div-pai {
    height: 50%;
    display: flex;
    border: 2px solid #ff0000;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div-filha {
    text-align: center;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 2.5% 0;
}

.box-1 {
    background-color: blue;
    flex-grow: 1;
    flex-basis: 500px;
}

.box-2 {
    background-color: greenyellow;
    flex-grow: 2;
    flex-shrink: 3;
}

.box-3 {
    background-color: cornflowerblue;
    flex-grow: 4;
}

.box-4 {
    background-color: coral;
    flex-grow: 2;
}