/* p {
  background-color: #900;
  color: #fff;
}
#texto-p {
  background-color: rgb(0, 253, 0);
  color: #000000;
} */

.formatacao {
  background-color: #900;
  color: #fff;
}

p.formatacao {
  margin: 0 17%;
  text-align: center;
  display: inline;
  background-color: black;
  color: pink;
}

#texto-p {
  font-size: 32px;
  color: aqua;
}

div.formatacao p{

letter-spacing: 20px;

}