*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{

    width: 100%;
    max-width: 1440px;
    height: 1024px;
   
}

.div-pai{
    display: flex;
    border: 2px solid #f00;
    /*flex-direction: row;*/
    /*flex-direction: row-reverse;*/
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
}

.div-filha{

    text-align: center;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 2.5% 0;
 }

 .box-1{
    background-color: aquamarine;

 }

 .box-2{
    background-color: blue;

 }

 .box-3{
    background-color: chocolate;

 }

 .box-4{
    background-color: crimson;

 }