* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    height: 1024px;
}
/* base para o flexbox */

.div-pai {
    display: flex;
    border: 2px solid #ff0000;
}

.div-filha {
    text-align: center;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 2.5% 0;
}

.box-1 {
    background-color: blue;
}

.box-2 {
    background-color:aqua;
}

.box-3 {
    background-color: orange;
}

.box-4 {
    background-color: crimson;
}